.jumbotron {
  padding-top: 5rem;
  /* background-color: #98d5ff; */
  background-image: linear-gradient(to right bottom, #77b8e4, rgba(216, 56, 230, 0.336));
  background-attachment: fixed;
}

#projects {
  background-color: #77b8e4;
}

section {
  padding-top: 5rem;
}
